@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900');


html {
    background: #0E2562;
}

body {
    -webkit-app-region: drag;
    user-select: none;
    width: 100%;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}


* {
    box-sizing: border-box;
}

.app {
}

.appWrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.feed {
    flex: 1;
    /* padding-top: 12px; */
}

.title {
    /* Who’s hacking?: */
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: #E8C37A;
    user-select: none;

    /* Line: */
    /* border-bottom: 1px solid rgba(0,0,0,0.40); */
    
    padding: 10px 10px;
    margin: 5px;
}

.footer {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;

    font-size: 11px;
    color: rgba(232,195,122,0.70);
    text-align: center;
    padding: 15px;
}


.loginView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.button {
    /* Rectangle 3: */
    border: 1px solid #E8C37A;
    border-radius: 5px;
    
    /* Connect using GitHub: */
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #E8C37A;
    text-align: center;
    background: transparent;
    
    padding: 10px;
    transition: all 250ms;
}

.button:hover {
    background: rgb(185, 156, 98);
    color: white;
    cursor: pointer;
    transform: translateY(2px);
}

.text {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #E8C37A;
}


.footerPaneWrap {
    height: 50px;
    background: #0E2562;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
}

.footerPane {
    /* Rectangle 3: */
    background: rgba(0,0,0,0.40);

    border-top: 1px solid rgba(207,181,129,0.20);
    min-height: 50px;

    padding: 10px;
    
    /* flex: 1; */
    align-items: center;
    display: flex;

    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;


    transition: all 250ms;
}

.footerPaneAvatar {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    border-radius: 50%;
    
    background-size: contain;

    user-select: none;
    cursor: pointer;
}

/* .status span,
.status a {

    opacity: 0.8;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #9B9B9B;
    user-select: none;
} */

.footerPaneAvatarCtn {
    position: relative;
}

.footerPaneAvatarCtn img {
    position: absolute;
    top: 50%;
    right: 20%;
}

.footerPaneStatus span,
.footerPaneStatus a {
    opacity: 0.8;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #9B9B9B;
    user-select: none;
    transition: all 250ms;
}


.footerPane:hover .footerPaneStatus span,
.footerPane:hover .footerPaneStatus a {
    color: white;
}

.footerPane .footerPaneStatus a:hover {
    opacity: 1;
}

.updateFeed {
    /* Rectangle 3: */
    background: rgba(0, 0, 0, 0.40);
    border-radius: 5px;
    min-height: 50px;
    margin: 10px;
    padding: 10px;
    
    flex: 1;
    align-items: center;
    display: flex;

    transition: all 250ms;
}

.updateFeed:hover,
.input:active {
    cursor: text;
}
.updateFeed:hover .input::placeholder {
    color: #B8B8B8;
}

.input:focus,
.input:active {
    color: #B8B8B8;
}

.input {
    /* transition: all 250ms; */
    
    /* Rectangle 3: */
    background: transparent;
    font-size: 14px;

    color: #9B9B9B;
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;

    width: 100%;

    user-select: none;
}
